<div{{attributes.addClass('card')}}>
    <div><a href="{{ content.field_link_to_content[0]['#url'] }}">{{ content.field_cardimage }}</a></div>
    <h3><a href="{{ content.field_link_to_content[0]['#url'] }}">{{ content.field_card_title }}</a></h3>
    <div>{{ content.field_tease }}</div>
</div>